includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database/factories
        - database/seeders
        - routes
        - tests
    tmpDir: storage/framework/cache/phpstan
